@font-face {
    font-family: roboto-medium;
    src: url('../../Assets/Font-family/Roboto/Roboto-Medium.ttf');
}
@font-face {
    font-family: roboto-bold;
    src: url('../../Assets/Font-family/Roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: roboto-regular;
    src: url('../../Assets/Font-family/Roboto/Roboto-Regular.ttf');
}
.navbarContainer{
    background: white;
    display: flex;
    align-items: center;
    gap: 2em;
    justify-content: space-around;
    padding: 1px 10em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #e0e0e0;
    .navbarItem{
        font-size: 20px;
        transition: font-size 0.3s ease;
        &:hover{
            font-size: 22px;
            text-decoration: underline;
        }
    }
}
body:not([data-page=""]) .navbarContainer{
    position: fixed;
    z-index: 1;
    background: white;
    display: flex;
    align-items: center;
    gap: 2em;
    justify-content: space-around;
    padding: 1px 10em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
}
.sidebar{
    display: flex;
    position: absolute;
    top: 99px;
    left: -30vw;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    z-index: 2;
    height: 88% ;
    background: white;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
    transition: left 0.8s ease;
    .sidebar-list{
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 45px 0px;
        align-items: start;
        width: 100%;
        .sidebar-item{
            font-size: 20px;
            padding: 17px 32px 17px 45px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:hover{
                background-color: #e5e8eb;
            }
        }
    }
    .sidebar-social{
        display: flex;
        gap: 13px;
        padding: 22px 0 25px 45px;
        align-items: center;
    }
}
.sidebarVisible{
    left:0;
    overflow-y: auto;
    .category-dropdown {
        position: absolute;
        top: 0;
        right: -100%; /* Initially hidden to the right */
        height: 100vh;
        width: 100%; /* Adjust the width as needed */
        background-color: white;
        transition: right 0.3s ease-in-out;
        z-index: 1;
        ul{
            li{
            cursor: pointer;
            }
        }
      }
      
      .category-dropdown.open {
        right: 0; 
        padding: 20px;
        span{
            display: flex;
            gap: 1em;
            border-bottom: 1px solid lightgrey;
            align-items: center;
            padding-bottom: 20px;
        }
        ul{
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 100%;
            .category{
                font-size: 17px;
                padding: 15px 32px 15px 45px;
                width: 100%;
                display: flex;
                align-items: center;
                gap: 1em;
            }
        }
      }
}
.overlay {
    display: none;
    position: fixed;
    top: 99px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Adjust the overlay color and opacity as needed */
    z-index: 1;
}
.overlayVisible {
    display: block;
}
.hamburgerImg{
    width: 3em;
}
.logoImg{
    width: 4em;
}
.navbarIcon{
    display: flex;
    gap: 2em;
}
.pointerCursor{
    cursor: pointer;
}

.categories_container{
    position: absolute;
    top: 4em;
    background-color: white;
    z-index: 1;
    left: 25%;
    padding: 2em;
    .categories{
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        max-width: 30em;
        gap: 2.5em;
        .category{
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}