@font-face {
  font-family: roboto-regular;
  src: url('./Assets/Font-family/Roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: roboto-medium;
  src: url('./Assets/Font-family/Roboto/Roboto-Medium.ttf');
}
@font-face {
  font-family: roboto-medium;
  src: url('./Assets/Font-family/Roboto/Roboto-Bold.ttf');
}
.App {
  text-align: center;
  font-family: roboto-regular;
}