@font-face {
  font-family: roboto-medium;
  src: url("../../Assets/Font-family/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: roboto-medium;
  src: url("../../Assets/Font-family/Roboto/Roboto-Bold.ttf");
}
.topBlackBanner {
  background-color: black;
  color: white;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
}

.glide {
  width: 80%;
  margin: 0 auto;
}

.glide__slides {
  display: flex;
  height: 100%;
}
.glide__slides img {
  width: 100%;
  height: 100%;
}

.glide__arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.glide__arrow {
  font-size: 17px;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 8px 13px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.glide__arrow:hover {
  border: 1px solid black;
}

.glide__track {
  overflow: hidden;
  height: 80vh;
}

.explore-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0px;
}
.explore-text .upr-explore-text {
  font-size: 30px;
}
.explore-text .lower-explore-text {
  font-size: 30px;
}

.explore-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.explore-categoryheading {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 3.5px;
}

.explore-categories-images-section {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
}

.explore-category-image-wrapper {
  flex: 0 0 calc(50% - 5px);
  margin-bottom: 5px;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
}

.explore-category-image-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
}

.image-button {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 20px;
  border-radius: 10%;
}
.image-button:hover {
  border: 1px solid black;
}

.multiple-banner {
  background-image: url("../../Assets/Images/multiple banner.png");
  background-size: cover;
  background-position: center;
  color: white;
  height: 17em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  flex-direction: column;
  gap: 2em;
  margin-top: 2em;
}
.multiple-banner .image-button {
  position: inherit;
}
.multiple-banner span {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 600;
}

.newest-release {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.newest-release-heading {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 3.5px;
  display: flex;
  width: 80vw;
}

.newest-release-carousal {
  display: flex;
  justify-content: space-between;
  width: 99vw;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.newest-release-carousal .glide__track {
  width: 80%;
  margin: 0 auto;
  height: -moz-fit-content;
  height: fit-content;
}
.newest-release-carousal .glide__slides {
  height: -moz-fit-content;
  height: fit-content;
}
.newest-release-carousal .glide__arrow--left {
  position: absolute;
  left: 1%;
  top: 41% !important;
  transform: translate(-50%, -50%);
}
.newest-release-carousal .glide__arrow--right {
  position: absolute;
  left: 96%;
  top: 41% !important;
  transform: translate(-50%, -50%);
}
.newest-release-carousal .glide__arrow {
  display: grid !important;
  grid-template-columns: 100% !important;
  align-items: center !important;
  justify-items: center !important;
  height: 43px !important;
  width: 43px !important;
  background-color: black !important;
  border-radius: 100% !important;
  box-shadow: 0px 2px 15px rgba(62, 84, 88, 0.075) !important;
  border: none !important;
  z-index: unset !important;
  transform: unset !important;
}

.newest-card {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.newest-card-image-div {
  width: 100%;
  height: 19em;
}
.newest-card-image-div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.newest-product-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
}

.newest-product-name {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 15px;
  text-align: left;
}

.newest-product-price {
  font-size: 15px;
}/*# sourceMappingURL=homepage.css.map */